---
import Layout from '../layouts/Layout.astro';
---

<Layout title="knckviz - Imprint">
	<h1>Imprint</h1>

	<p>Information according to &sect; 5 TMG</p>

	<h2>Contact</h2>
	<p>
		[Name of Operator]<br />
		[Street Address]<br />
		[City, Zip Code]<br />
		[Country]<br />
		<br />
		Email: [Email Address]
	</p>

	<h2>Disclaimer</h2>
	<p>
		The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents' accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for our own content on these web pages. In this context, please note that we are accordingly not obliged to monitor merely the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity.
	</p>

    <p><em>(Note: This is a placeholder imprint. Please fill in your real details.)</em></p>
</Layout>
