---
import Layout from '../layouts/Layout.astro';
---

<Layout title="knckviz - Imprint">
	<h1>Imprint</h1>

	<p>Information according to &sect; 5 TMG</p>

	<h2>Contact</h2>
	<p>
		Luca Knaack<br />
		Achtern Karkhoff 16<br />
		26160 Bad Zwischenahn<br />
		Germany<br />
		<br />
		<a href="mailto:75cdkna3@anonaddy.me" class="text-decoration-none">75cdkna3@anonaddy.me</a>
	</p>

	<h2>Disclaimer</h2>
	<p>
		The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents' accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for our own content on these web pages. In this context, please note that we are accordingly not obliged to monitor merely the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity.
	</p>
</Layout>
