---
import Layout from '../layouts/Layout.astro';
---

<Layout title="knckviz - Home">
	<h1>Welcome to knckviz</h1>
	<p>
		This is a collection of beautiful visualizations of Reinforcement Learning algorithms,
		evolutionary algorithms, and Monte Carlo simulations.
	</p>
	<p>
		The goal of this project is to make complex algorithms intuitive and easy to understand through visual representation.
	</p>

	<h2>Explore Visualizations</h2>
	<p>
		Check out the <a href="/viz">Visualizations</a> section to see what's currently available.
	</p>
</Layout>
