---
import Layout from '../layouts/Layout.astro';
---

<Layout title="knckviz - Data Privacy">
	<h1>Data Privacy</h1>

	<p>
		The operators of these pages take the protection of your personal data very seriously.
		We treat your personal data confidentially and in accordance with the statutory data protection regulations
		and this data protection declaration.
	</p>

	<h2>General Data Collection</h2>
	<p>
		When you use this website, various personal data may be collected.
		Personal data is data with which you can be personally identified.
		This data protection declaration explains what data we collect and what we use it for.
		It also explains how and for what purpose this happens.
	</p>

	<h2>Hosting</h2>
	<p>
		This website is hosted by an external service provider.
		The personal data collected on this website is stored on the host's servers.
		This may include IP addresses, contact requests, meta and communication data, contract data,
		contact details, names, website access, and other data generated via a website.
	</p>

	<h2>Rights</h2>
	<p>
		You have the right to request information about your stored personal data at any time.
		You also have the right to request the correction, blocking, or deletion of this data.
	</p>
</Layout>
